input, button {
    border: none;
    margin: 5px;
    padding: 0;
}

input {
    font-family: 'Merienda', cursive;
    font-size: 2em;
    padding: 20px;
}

button {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    padding: 20px;
}