input, button {
    padding: 0;
    margin: 5px;
    border: none;
}

input {
    padding: 20px;
    font-family: 'Merienda', cursive;
    font-size: 2em;
}

button {
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}