# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
*~
*.pyc
static
.grunt

# testing
/coverage
test/the-files-to-test.generated.js

# production
/build
build/
coverage/
.module-cache

# misc
.DS_Store
.DS_STORE
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sublime-project
*.sublime-workspace
.idea
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log*
chrome-user-data
node_modules
ncp-debug.log
npm-debug.log
bower_component
src/config/configSec.js
_SpecRunner.html
__benchmarks__
*.gem
docs/.bundle
docs/code
docs/_site
docs/.sass-cache
docs/js/*
docs/downloads
docs/vendor/bundle
examples/shared/*.js
