.Note {
    display: inline-block;
    font-size: 2em;
    margin: 4px;
    min-height: 150px;
    min-width: 325px;
}

.delete {
    font-size: 100%;
    padding-right: 5px;
    text-align: right;
}

.content {
    padding: 10px;
    text-align: justify;
}