* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  background: #005C97;
  background: linear-gradient(to right, #363795, #005C97);
  background: -webkit-linear-gradient(to right, #363795, #005C97);
  background: -moz-linear-gradient(to right, #363795, #005C97);
  background: -o-linear-gradient(to right, #363795, #005C97);
  color: #FFF;
}
.notesBody {
  font-family: 'Merienda', cursive;
  margin-top: 20px;
  text-align: center;
}
.notesFooter {
  font-family: 'Merienda', cursive;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}
.notesBody,
.notesFooter,
.notesHeader {
  background: #005c96;
  background: rgba(0, 92, 150, 0.75);
  margin: 0;
  padding: 20px;
}
.notesHeader {
  text-shadow: 5px 5px #000;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 3em;
}
.Note {
  background-color: #0ac400;
  color: #000;
}
.Note:hover {
  box-shadow: 0 0 10px #FFF;
}
.Note span.delete {
  color: #F00;
}
.Note header {
  background-color: #176213;
}
.NoteForm input {
  background-color: #0ac400;
}
.NoteForm button {
  background-color: #176213;
}
.NoteForm button:hover {
  color: #FFF;
}
